/node_modules
/public/hot
/public
/public/storage
/tests
/storage/*.key
/vendor
/.fr-oePncx
/.fr-MVmVUQ
/.history
/.fr-OY3i4L
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

